.last-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 20px;

  &.increase {
    color: #00b15d;
    background-color: rgba(16, 186, 104, 0.12);

    .icon {
      transform: rotate(180deg);
    }
  }

  &.decrease {
    color: #ff5b5a;
    background-color: rgba(255, 90, 90, 0.12);
  }

  &.same {
    color: #f0f4f8;
    background-color: rgba(134, 152, 170, 0.12);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
