* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  place-items: center;
  color: #f0f4f8;
  background-color: #131b29;
  min-width: 320px;
  min-height: 100vh;
}

.order-book {
  font-size: 16px;
  padding: 12px;
  border-bottom: 1px solid #333;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  width: 375px;
  border: 1px solid #000;
}

.title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  color: #8698aa;
}

.title-size {
  text-align: right;
}

.title-total {
  text-align: right;
}

.buy-list,
.sell-list {
  padding: 12px;
}

.buy-list .bid,
.sell-list .ask {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buy-list .bid-price {
  color: #00b15d;
}

.sell-list .ask-price {
  color: #ff5b5a;
}

.buy-list .bid-size,
.buy-list .bid-total,
.sell-list .ask-size,
.sell-list .ask-total {
  text-align: right;
}

.buy-list .bid-total,
.sell-list .ask-total {
  position: relative;
}

.accumulative-bar {
  position: absolute;
  z-index: -1;
  inset: 0 0 0 0;
}

.sell-list .accumulative-bar {
  background-color: rgba(255, 90, 90, 0.12);
}

.buy-list .accumulative-bar {
  background-color: rgba(16, 186, 104, 0.12);
}

li:hover {
  background-color: #1e3059;
}

.last-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.last-price.increase {
  color: #00b15d;
  background-color: rgba(16, 186, 104, 0.12);
}

.last-price.decrease {
  color: #ff5b5a;
  background-color: rgba(255, 90, 90, 0.12);
}

.last-price.same {
  color: #f0f4f8;
  background-color: rgba(134, 152, 170, 0.12);
}
